body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-family: "Gaegu", sans-serif;
}

.calContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
}
.calContainer img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-top: 5px;
}
/* cal 전체 */
.react-calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 780px;
}

/* 요일 행 */
.react-calendar__month-view__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

/* 요일 하나 */
.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

/* 날짜 셀 전체 컨테이너 */
.react-calendar__month-view__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* 날짜 셀 공통 클래스 */
.react-calendar__tile {
  aspect-ratio: 1 / 1;
  border: 1px solid #e0e0e0;
  border-right: none;
  border-bottom: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: white;
  font-family: "Gaegu", sans-serif;
}

.react-calendar__month-view__days__day:nth-child(7n) {
  border-right: 1px solid #e0e0e0;
}

.react-calendar__month-view__days__day:nth-last-child(-n + 7) {
  border-bottom: 1px solid #e0e0e0;
}

/* 해당 달 아닌 날짜들 */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #ccc;
  background-color: #f9f9f9;
}

/* 날짜 셀 */
.react-calendar__month-view__days__day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* 년도 월 */
.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  background-color: white;
  font-size: 30px;
  border: none;
  font-family: "Gaegu", sans-serif;
}
.react-calendar__navigation__label {
  margin: 0 20px;
}
/* 화살표 버튼 */
.react-calendar__navigation__arrow {
  cursor: pointer;
  padding: 10px;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}
